/* HTML Styles */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    
}

/* BEM Class Styles */

.container {
    display: flex;
    justify-content: center;
}

.color-dark {
    background-color: #1F2937;
}

.color-button {
    background-color: #3882F6;
}

.color-quote {
    background-color: #E5E7EB;
}

.text-hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.text-hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
    margin: 0;
    
}

.text-header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

.text-information-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    color: #1F2937
}

.text-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    max-width: 816px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.text-quote-bold {
  display: flex;
  justify-content: right;
  font-size: 24px;
  font-weight: bold;
  color: #1F2937;
  margin: 0;
  max-width: 816px;
  padding-right: 38px;
}

.text-cta-bold {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
  padding-left: 96px;
  margin: 0;
}

.text-cta-regular {
  font-size: 16px;
  color: #F9FAF8;
  font-weight: 300;
  padding-left: 96px;
  margin: 0;
}

.text-footer {
  font-size: 16px;
  color: #F9FAF8;
  font-weight: 100;
}
/* Header Section Styling */

.header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 75px;
    padding-bottom: 96px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* Hero Section Styling */

.hero {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  align-items: flex-start;
  padding-bottom: 96px;
}

.container-hero-left {
  padding-right: 96px;

}

.container-hero-right {

}

.hero-button {
  border-radius: 8px;
  height: 32px;
  width: 112px;
  border: none;
  color:#F9FAF8;
  margin-top: 16px;
}

/* Some General Information Styling */

.information-img {
  border: 3px solid #3882F6;
  border-radius: 16px;
  padding: 8 0 8 0;
  width: 150px;
  height: 150px;
}

.information-text {
  width: 150px;
  height: 150px;
  margin: 0;
  text-align: center;
}

.information-box {
  display: flex;
  flex-direction: row;
}

.information-box-container {
  padding: 0 24px 0 24px;
}

/* Quote Styling */

.quote-container {
  padding-bottom: 96px;
  padding-top: 96px;
}

/* CTA Styling */

.cta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding: 46px;
  margin: 96px;
  max-width: 1000px;
  border-radius: 16px;
}

.cta-button {
  background-color: #3882F6;
  border-radius: 8px;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  padding: 8px 24px 8px 24px;
}

.cta-button-container {
  padding-right: 96px;
}